<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Example</title>
    <link rel="stylesheet" href="/views/static/css/style.css">
</head>

<body>
    <div class="form-wrapper">
        <main class="form-side">
           
            <form class="my-form" id="loginForm">
                <div class="form-welcome-row">
                    <h1>Bienvenido de vuelta!</h1>
                    <h2>Por favor ingresa para pedir tu hora medica</h2>
                </div>
                <div class="divider">
                    <div class="divider-line"></div>
                    CESFAM
                    <div class="divider-line"></div>
                </div>
                <div class="text-field">
                    <label for="user_rut">RUT:</label>
                    <input type="text" id="user_rut" name="user_rut" required>
                </div>
                <div class="text-field">
                    <label for="user_uniquekey">Clave Unica:</label>
                    <input type="password" id="user_uniquekey" name="user_uniquekey" required>
                </div>
                <button class="my-form__button" type="submit">
                    Ingresar
                </button>
                <div class="my-form__actions">
                    <div class="my-form__row">
                        <span>Eres doctor?</span>
                        <a href="#" title="LoginUser">
                            Pincha para ingresar como doctor
                        </a>
                    </div>
                </div>
            </form>
        </main>
        <aside class="info-side">
            <div class="blockquote-wrapper">
                <blockquote>
                    Apoyamos a los pobres para una vida mas sana y sencilla
                </blockquote>
                <div class="author">
                    <span class="author-name">@CESFAM SAN FELIPE</span>
                </div>
            </div>
        </aside>
    </div>

    <script src="/views/API/userRequest.js"></script>
</body>

</html>
