.acerca .caja-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.acerca .caja-contenedor .caja{
    flex: 1 1 30rem;
    background: white;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;

}

.acerca .caja-contenedor .caja img{
    height: 15rem;
}
.acerca .caja-contenedor .caja h3{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}

.acerca .caja-contenedor .caja p{
    font-size: 1.6rem;
    color: #666;
    padding: 1rem 0;
    text-align: justify;
}

.about-help-main{
    margin-top: 8rem;
}
.here{
    background-color: white;
    color: var(--azul);
}
