*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

button{
    border-radius: 0;
}
.franja{
    width: 168px;
    height: 8px;
    margin-left: 2%;
}
.azul{
   background-color: rgb(2, 2, 143);
    display:block;
    height: 8px;
    width: 37%;
    float: left
}
.rojo{
    background-color: rgb(247, 0, 0);
    display: block;
    width: 63%;
    height: 8px;
    float: left
}
h1{
    font-family: 'Roboto Slab';
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.95rem;
    margin-bottom: 0;
}
.logo{
    width: 100px;
}
.gob-btn-primary{
    background-color: rgb(63, 63, 205);
    border: 1px solid #005cbf;
    font-size: 1.25rem;
    font-family: roboto;
    color: white;
}
.gob-btn-primary:hover{
    background-color: #005cbf;
}

footer{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: auto;
    flex-direction: column;
    padding: .5rem 0 1rem;
    margin-top: 1rem;
   
}
.bg-dark-blue{
    background-color: #014c9b;
}
.container{
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    
    
}
footer .container{
    display: flex;
    justify-content: space-between;
}
footer .container div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
footer .sr-civil img{
    width: 100%;
    height: 100%;
    max-height: 90px;
    padding-bottom: 10px;
}
footer .disclaimer{
    text-align: center;
    padding: 0 16px;
    margin-top: 15px;
    margin-left: 13.33%;
}

footer .gobDigital img{
    width: auto;
    max-height: 45px;
}

.message-box {
    position: fixed;
    top: 15%;
    left: 51%;
    margin-bottom: 100px;
    transform: translate(-50%, -50%);
    background-color: #f8d7da; 
    color: #721c24; 
    padding: 20px 30px;
    border: 3px solid #f5c6cb; 
    border-radius: 5px;
    text-align: center;
    display: none; 
}


/*.btn-show{
    padding: 14px 28px;
    background: linear-gradient(to bottom, #1b1c3f, #4a4e91);
    border-radius: 30px;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: white;
}
