<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/css/reservation.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/assets/img/logo_cesfam.ico" type="image/x-icon">
</head>

<body>
    <div class="container py-5">
        <h1 class="text-center" id="title">Horas medicas</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4 py-5">

            <div class="col">
                <div class="card">
                    <img src="../static/assets/img/Doctor1.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Medicina General</h5>
                        <p class="card-text">Doctor Mario Riquelme Ortiz</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        <h3>8:00</h3>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reservaModal">Reservar</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="../static/assets/img/Doctor2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Medicina General</h5>
                        <p class="card-text">Doctor Juan Estay Foncea</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        <h3>8:30</h3>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="../static/assets/img/Doctora1.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Medicina General</h5>
                        <p class="card-text">Doctora Carolina Olivares Estay</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        <h3>9:00</h3>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="../static/assets/img/Doctor1.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Medicina General</h5>
                        <p class="card-text">Doctor Mario Riquelme Ortiz</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        <h3>9:30</h3>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="../static/assets/img/Doctor2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Medicina General</h5>
                        <p class="card-text">Doctor Juan Estay Foncea</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        <h3>10:00</h3>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card">
                    <img src="../static/assets/img/Doctora1.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Medicina General</h5>
                        <p class="card-text">Doctora Carolina Olivares Estay</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        <h3>10:30</h3>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                </div>
            </div>

             <div class="col">
                <div class="card">
                    <img src="../static/assets/img/Doctor1.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Medicina General</h5>
                        <p class="card-text">Doctor Mario Riquelme Ortiz</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        <h3>11:00</h3>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card">
                    <img src="../static/assets/img/Doctor2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Medicina General</h5>
                        <p class="card-text">Doctor Juan Estay Foncea</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        <h3>11:30</h3>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="../static/assets/img/Doctora1.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Medicina General</h5>
                        <p class="card-text">Doctora Carolina Olivares Estay</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        <h3>12:00</h3>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card">
                    <img src="../static/assets/img/Doctor1.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Medicina General</h5>
                        <p class="card-text">Doctor Mario Riquelme Ortiz</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        <h3>12:30</h3>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reservaModal" tabindex="-1" aria-labelledby="reservaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reservaModalLabel">Reservar Cita</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <fieldset disabled>
                            <div class="mb-3">
                                <label for="rut" class="form-label">Rut</label>
                                <input type="text" class="form-control" id="rut" required>
                            </div>
                        </fieldset>

                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" required>
                        </div>

                        <fieldset disabled>
                            <div class="mb-3">
                                <label for="hora" class="form-label">Hora Medica</label>
                                <input type="text" class="form-control" id="hora" required>
                            </div>
                        </fieldset>

                        <div class="mb-3">
                            <label for="carga" class="form-label">Carga</label>
                            <select class="form-select form-select-lg mb-3" aria-label="Large select example" required>
                                <option selected value="">Seleccione una opción</option>
                                <option value="1">Hora para mi</option>
                                <option value="2">Hora para mi hijo</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción</label>
                            <textarea class="form-control" id="descripcion" rows="3" required></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="medicalhour_id" class="form-label"></label>
                            <input type="hidden" class="form-control" id="medicalhour_id" required>
                        </div>


                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>